<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Richard Price</string>
	<key>Builder Version</key>
	<string>534.57.2</string>
	<key>CFBundleDisplayName</key>
	<string>Dropbox Forum Extender</string>
	<key>CFBundleIdentifier</key>
	<string>com.ideative-software.dropbox-forum-extender</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>jquery.min.js</string>
				<string>dropbox_forum_extender.user.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Extends the Dropbox Forums with extra features</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>forums.dropbox.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
</dict>
</plist>
